/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');

html {
  font-family: 'Open Sans'
}

#root {
  overflow-x: hidden
}

body {
  background-color: #FFF;
  overflow-x: hidden
}


.navbarlogo {
  left: 2rem;
  width: 100px;
  height: auto;
}

.bnb-header-container--extra-bottom-margin {
  margin-bottom: 25rem
}

.bnb-storefront-img{
  height: 23rem;
  width: auto
}

.bnb-product-illustration {
  height: 30rem;
  width: auto
}

.bnb-paragraph {
  font-size: 1.3em
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.bnb-brochure {
  height: 20rem;
  width: auto
}

.clearfix {
  overflow: auto;
}

.bnb-store-header{
  width: 25rem;
  height: auto;
}

.bnb-card-title {
  max-width: 13em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bnb-card-desc{
  /* max-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.bnb-gradient {
  background: linear-gradient(180deg, #FFF4DE 0%, rgba(255, 255, 255, 0) 81.03%), #FED430;
}

.bnb-grow-header{
  padding: 12% 0
}

.bnb-community {
  font-size: 3rem
}

.bnb-grow-ribbon{
  right: 8%;
  width: 10rem
}

.bnb-relationship-img{
  max-width: 1000px;
}

.bnb-commitment-p{
  max-width: 30rem;
}

.bnb-commitment {
  max-width: 800px
}

.bnb-commitment--img{
  height: 10em;
  width: auto;
}

.bnb-commitment--item {
  filter: grayscale(100);
  opacity: 0.5;
}

.bnb-commitment--item:hover {
  filter: grayscale(0);
  opacity: 1.0;
}

.bnb-testimonial-card {
  min-height: 550px;
  max-width: 1024px;
  margin:  0 auto;
}

.bnb-grow-testimonial-img--left{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 300px;
}

.bnb-grow-testimonial-img--right{
  position: absolute;
  top: 0;
  left: 300px;
  bottom: 0;
  right: 0;
}

.bnb-grow-testimonial-img--mobile{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 180px;
}

.bnb-mobile-header--home{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6a901+0,e6a901+14,fdd712+100 */
background: #e6a901; /* Old browsers */
background: -moz-linear-gradient(top, #e6a901 0%, #e6a901 14%, #fdd712 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e6a901 0%,#e6a901 14%,#fdd712 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e6a901 0%,#e6a901 14%,#fdd712 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6a901', endColorstr='#fdd712',GradientType=0 ); /* IE6-9 */
}

.bnb-welcome-section-header--mobile{
  width: 200px;
  margin: 0 auto
}

.bnb-experience-img{
  width: 30rem
}

.bnb-top-element{
  z-index: 9999
}

.bnb-map{
  width: 20rem;
  height: auto;
  margin: 0 auto;
  padding-top: 3rem
}

.bnb-trophy {
  width: 25rem;
  height: auto
}

.bnb-trophy-2 {
  width: 15rem;
  height: auto
}

.bnb-trophy-section{
  max-width: 70rem;
}

.bnb-map2{
  width: 25rem;
  height: auto;
  margin: 0 auto;
  padding-top: 3rem
}

.bnb-map3{
  width: 23rem;
  height: auto;
  margin: 0 auto;
  padding-top: 3rem
}

.bnb-guide{
  position: fixed;
  top:0;
  bottom: 0;
  right:2rem;
  width: 5.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.bnb-product-card-section{
  padding-top: 2rem
}

.bnb-contact-sidepane{
  height: 500px;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
}
.slick-prev {
  left: 5%;
}
.slick-next {
  right: 5%;
}


.rodal-dialog{
  padding: 0;
  background-color: #fff;
}